## **Day 25 of 30 days Data Analysis**

### ***1. Upload and review data***

In [12]:
import pandas as pd

df = pd.read_csv("C:\\Users\\LENOVO\\Documents\\Programming\\30days_data_analysis\\week02_sql\\supermarket_clean_d08.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Sales                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     0 non-null      float64
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(8), int64(1), object(8)
memory usage: 132.9+ KB

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Sales,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,Alex,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,NaN,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,Giza,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,NaN,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,Alex,Yangon,Normal,Female,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,NaN,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,Alex,Yangon,Member,Female,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,NaN,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,Alex,Yangon,Member,Female,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,NaN,Ewallet,604.17,4.761905,30.2085,5.3

### ***2. Cleaning up extra columns and smoothing***

In [13]:
# remove unnecessary columns
columns_to_drop = ["Invoice ID", "gross margin percentage"]
df = df.drop(columns=columns_to_drop, errors="ignore")

# convert date to datetime format
df["Date"] = pd.to_datetime(df["Date"])
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Day"] = df["Date"].dt.day

### ***3. Create the final columns needed for the dashboard***

In [15]:
# ensuring the cleanliness of the columns
df["City"] = df["City"].str.strip().fillna("Unknown")
df["Payment"] = df["Payment"].str.strip().fillna("Cash")

# save the final file
df.to_csv("final_dataset.csv", index=False)
print("Cleaned dataset saved!")

Cleaned dataset saved!

### ***4. Check the final output***

In [16]:
print(df.shape)
print(df.head())

(1000, 18)
  Branch       City Customer type  Gender            Product line  Unit price  \
0   Alex     Yangon        Member  Female       Health and beauty       74.69
1   Giza  Naypyitaw        Normal  Female  Electronic accessories       15.28
2   Alex     Yangon        Normal  Female      Home and lifestyle       46.33
3   Alex     Yangon        Member  Female       Health and beauty       58.22
4   Alex     Yangon        Member  Female       Sports and travel       86.31

   Quantity   Tax 5%     Sales       Date  Time      Payment    cogs  \
0         7  26.1415  548.9715 2019-01-05   NaN      Ewallet  522.83
1         5   3.8200   80.2200 2019-03-08   NaN         Cash   76.40
2         7  16.2155  340.5255 2019-03-03   NaN  Credit card  324.31
3         8  23.2880  489.0480 2019-01-27   NaN      Ewallet  465.76
4         7  30.2085  634.3785 2019-02-08   NaN      Ewallet  604.17

   gross income  Rating  Year  Month  Day
0       26.1415     9.1  2019      1    5
1        3.8200     9.6  2019      3    8
2       16.2155     7.4  2019      3    3
3       23.2880     8.4  2019      1   27
4       30.2085     5.3  2019      2    8

### ***Day 25 — Final Data Preparation***

**Objective:** *Prepare a clean, ready-to-use dataset for the final dashboard.*

*- Unified date fields (`Date` → datetime + `Year`, `Month`, `Day`).*

*- Created single `City` and `Payment` columns from previous dummy columns.*

*- Dropped unused columns (`Invoice ID`, `gross margin percentage`).*

*- Exported as: `datasets/final_dataset.csv`.*

***Sanity Checks:***

*- `Sales ≈ cogs + Tax 5%`, `gross income == Tax 5%`.*

*- No nulls in key fields (Sales, cogs, Tax 5%, gross income, City, Payment).*

***Next (Day 26):*** *Build the final dashboard using this dataset: KPIs, sales trends, city/payment breakdowns, and ratings.*