## **Day 17 of 30 days Data Analysis**

In [11]:
import pandas as pd

df = pd.read_csv("C:\\Users\\LENOVO\\Documents\\Programming\\30days_data_analysis\\week02_sql\\supermarket_d14.csv")

In [12]:
import sqlite3

conn = sqlite3.connect(":memory:")
df.to_sql("supermarket", conn, index=False, if_exists="replace")

1000

In [13]:
query = "SELECT Gender, AVG(Sales) as AvgSales FROM supermarket GROUP BY Gender"
pd.read_sql_query(query, conn)

   Gender    AvgSales
0  Female  340.931414
1    Male  299.055738

In [14]:
query1 = """
SELECT Gender, AVG(Sales) as AvgSales
FROM supermarket
GROUP BY Gender
"""
print(pd.read_sql_query(query1, conn))

   Gender    AvgSales
0  Female  340.931414
1    Male  299.055738

### ***Query 1: Average Sales by Gender***

*- This query calculates the average sales grouped by gender.*

*- If females show higher average sales, it suggests women contribute more revenue per purchase.*

*- If males show higher average sales, it suggests men spend more per transaction.*

In [15]:
query2 = """
SELECT [Product line], MIN(Rating) as MinRating, MAX(Rating) as MaxRating
FROM supermarket
GROUP BY [Product line]
"""
print(pd.read_sql_query(query2, conn))

             Product line  MinRating  MaxRating
0  Electronic accessories        4.0       10.0
1     Fashion accessories        4.0        9.9
2      Food and beverages        4.0        9.9
3       Health and beauty        4.0       10.0
4      Home and lifestyle        4.1        9.9
5       Sports and travel        4.0       10.0

### ***Query 2: Popular Product Lines***

*- This query counts the number of transactions for each product line.*

*- Shows which product categories are most popular among customers.*

*- Helps businesses decide on stock management and promotions.*

In [16]:
df["Date"] = pd.to_datetime(df["Date"])
df["Weekday"] = df["Date"].dt.day_name()
df.to_sql("supermarket", conn, index=False, if_exists="replace")

query3 = """
SELECT Weekday, SUM(Sales) as TotalSales
FROM supermarket
GROUP BY Weekday
ORDER BY TotalSales DESC
"""

print(pd.read_sql_query(query3, conn))

     Weekday  TotalSales
0   Saturday  56120.8095
1    Tuesday  51482.2455
2   Thursday  45349.2480
3     Sunday  44457.8925
4     Friday  43926.3405
5  Wednesday  43731.1350
6     Monday  37899.0780

In [17]:
print(df.groupby("Gender")["Sales"].mean())
print("--------")
print(df.groupby("Product line")["Rating"].agg(["min", "max"]))
print("--------")
print(df.groupby("Weekday")["Sales"].sum().sort_values(ascending=False))

Gender
Female    340.931414
Male      299.055738
Name: Sales, dtype: float64
--------
                        min   max
Product line
Electronic accessories  4.0  10.0
Fashion accessories     4.0   9.9
Food and beverages      4.0   9.9
Health and beauty       4.0  10.0
Home and lifestyle      4.1   9.9
Sports and travel       4.0  10.0
--------
Weekday
Saturday     56120.8095
Tuesday      51482.2455
Thursday     45349.2480
Sunday       44457.8925
Friday       43926.3405
Wednesday    43731.1350
Monday       37899.0780
Name: Sales, dtype: float64

### ***Final Insight:***

*- SQL queries reveal key business patterns directly from the dataset.*

*- These insights can then be combined with Python visualizations for deeper analysis.*